  @import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&display=swap');

  #root{  
      font-family: "Cabin Condensed", sans-serif;
      font-weight: 500;
      font-style: normal;
  }

  .main{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
  }
  .card{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }

  .container-fluid{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;  
  }

  a{
    text-decoration:none;
    color:black;
  }